<div id="users-component">
  <h2>Who are you?</h2>
  <div class="flex-row row-1 content-spread">
    <div class="flex-col content-center">
      <a class="nav-link" [routerLink]="['/survey']">
        <i class="fa fa-plus" aria-hidden="true"></i>
      </a>
      <h4>VICTIM</h4>
      <p>If you have been a victim of trafficking, we want to provide quick and easy access to the resources we need. Take our victim survey to determine your needs are the resources near you.</p>
    </div>
    <div class="flex-col content-center">
      <a class="nav-link" [routerLink]="['/']">
        <i class="fa fa-handshake-o" aria-hidden="true"></i>
      </a>
      <h4>VOLUNTEER</h4>
      <p>If you’re interested in volunteering at an anti-trafficking related organization, take our volunteer survey to find where your skills can be used.</p>
    </div>
  </div>
  <div class="flex-row row-2 content-center">
    <div class="flex-col content-center">
      <a class="nav-link" [routerLink]="['/']">
        <i class="fa fa-building" aria-hidden="true"></i>
      </a>
      <h4>NGO</h4>
      <p>If you’re an NGO, create a profile and make sure to check back to see if you have any interested volunteers.</p>
    </div>
  </div>
</div>
