<div id="survey-component">
  <div class="flex-col">
    <h1>Are you seeking help?</h1>
    <p>Were you affected by human trafficking? Are you in need of help? Are you looking for legal aid, a halfway house, rehabilitation services, or education and employment training? Find these resources and many more near you by taking our survey.<br /><br />
    Based on information you provide on your current status, we will give you a customized list of the best resources out there for you.
    </p>
    <a class="nav-link" [routerLink]="['/survey-form']">Continue</a>
  </div>
</div>
