#login-component {

  #instruction-wrapper {
    margin: auto;
    margin-top: 30px;
    width: 300px;

    .instruction {
      font-size: 13px;
    }
  }
  #form-wrapper {
    margin: auto;
    width: 300px;
  }
}
