<div id="organization-profile-component">
  <div class="page">
    <div class="row vertical-center">
      <div class="col-md-3">
        <img src="./../../assets/images/tes.jpeg" id="profile-pic">
      </div>
      <div class="col-md-4">
        <p id="name">Organization Name</p>
        <p>Mission Statement</p>
        <p><span class="bold">Location:</span> <a href="#">City, State</a></p>
        <div class="row">
          <div class="col-md-5">
            <button type="button" class="btn btn-primary btn-lg btn-block green-button bold">Apply</button>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <a href="#">
              <button type="button" class="btn btn-secondary btn-lg btn-block blue-button bold">Contact</button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-2">
            <a href="#"><img src="./../../assets/images/twitter-icon.png" class="icon"></a>
          </div>
          <div class="col-md-2">
            <a href="#"><img src="./../../assets/images/facebook-icon.png" class="icon"></a>
          </div>
          <div class="col-md-2">
            <a href="#"><img src="./../../assets/images/gplus-icon.png" class="icon"></a>
          </div>
          <div class="col-md-2">
            <a href="#"><img src="./../../assets/images/linkedin-icon.png" class="icon"></a>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>
    <div class="row bottom">
      <div class="col-md-7">
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item active"><a class="nav-link active" data-toggle="tab" href="#who" role="tab" aria-controls="home" aria-selected="true">Who We Are</a></li>
          <li class="nav-item"><a class="nav-link"data-toggle="tab" href="#what" role="tab" aria-controls="home" aria-selected="true">What we do</a></li>
          <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#where" role="tab" aria-controls="home" aria-selected="true">Where we work</a></li>
        </ul>
        <div class="tab-content">
          <div id="who" class="tab-pane fade in active">
            <h3 class="roboto">Who we are</h3>
            <div class="content">
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut felis in diam pellentesque mattis at in quam. Mauris iaculis auctor metus, eget ultrices velit hendrerit ut. Etiam non sapien a nisi bibendum ultrices in sit amet ante. Curabitur tristique neque et dui congue, ac rhoncus leo placerat. Donec faucibus ante justo, nec iaculis arcu porttitor ac. Nam a erat enim. Nulla sodales tellus velit, at suscipit lectus fermentum vitae. Morbi vitae vestibulum felis. Etiam ut elit purus. Aenean sollicitudin felis massa. Mauris nibh purus, elementum eu euismod vel, finibus vel tellus. Suspendisse volutpat suscipit est et sollicitudin.</p>
              <p>Etiam bibendum, ipsum eu pulvinar aliquet, mi nunc vehicula odio, ut gravida ex odio placerat tellus. Integer luctus neque vel sapien venenatis ullamcorper. Vivamus at quam nisl. Donec quis auctor ipsum. Aliquam erat volutpat. Phasellus laoreet porta est sit amet consectetur. Nulla eget ipsum tristique, blandit ante sed, sagittis turpis. Vestibulum eget dapibus justo, et suscipit erat. Aenean et viverra dolor. Ut ultrices mi non ante ultricies, in interdum ante sagittis. Vestibulum nulla diam, tempus consequat ultricies ut, iaculis vel tellus. Ut vehicula congue lectus nec sollicitudin.</p>
              <p>Nunc finibus urna sed nisi maximus, ut finibus nibh iaculis. Integer quis lorem ac turpis sagittis molestie. Nam facilisis, dolor ac pulvinar tristique, odio arcu porttitor risus, vitae euismod urna tellus quis nisl. Quisque porta sem ultricies sapien mollis, sit amet venenatis felis tincidunt. Sed libero risus, laoreet sit amet suscipit id, mollis vitae ipsum. Proin pharetra in augue quis malesuada. Nulla at suscipit elit. Nam eu finibus augue. Morbi erat arcu, mollis sed dui nec, vulputate varius augue. Ut in urna et nisi porta aliquet at sed massa.</p>
              <p>Nullam cursus eget augue et malesuada. Proin vel ex in justo vulputate pretium. Morbi vulputate fermentum purus, at pretium quam vestibulum sed. Donec tempor leo non tortor cursus, at lacinia massa hendrerit. Quisque lorem urna, sagittis consequat dictum vulputate, posuere ut mauris. Nam dignissim rutrum mauris sed posuere. Proin laoreet orci dolor, nec suscipit neque finibus eget. Donec vel efficitur nulla.</p>
            </div>
          </div>
          <div id="what" class="tab-pane fade">
            <h3 class="roboto">What we do</h3>
            <div class="content">
              <p>Nunc finibus urna sed nisi maximus, ut finibus nibh iaculis. Integer quis lorem ac turpis sagittis molestie. Nam facilisis, dolor ac pulvinar tristique, odio arcu porttitor risus, vitae euismod urna tellus quis nisl. Quisque porta sem ultricies sapien mollis, sit amet venenatis felis tincidunt. Sed libero risus, laoreet sit amet suscipit id, mollis vitae ipsum. Proin pharetra in augue quis malesuada. Nulla at suscipit elit. Nam eu finibus augue. Morbi erat arcu, mollis sed dui nec, vulputate varius augue. Ut in urna et nisi porta aliquet at sed massa.</p>
              <p>Nullam cursus eget augue et malesuada. Proin vel ex in justo vulputate pretium. Morbi vulputate fermentum purus, at pretium quam vestibulum sed. Donec tempor leo non tortor cursus, at lacinia massa hendrerit. Quisque lorem urna, sagittis consequat dictum vulputate, posuere ut mauris. Nam dignissim rutrum mauris sed posuere. Proin laoreet orci dolor, nec suscipit neque finibus eget. Donec vel efficitur nulla.</p>
            </div>
          </div>
          <div id="where" class="tab-pane fade">
            <h3 class="roboto">Where we work</h3>
            <div id="map"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
