<div id="survey-form-component">
  <div class="flex-col">
    <form>
      <h1><label for="question">{{question}}</label></h1>
      <input type="radio" name="gender" value="male"> Female<br>
      <input type="radio" name="gender" value="male"> Male<br>
      <input type="radio" name="gender" value="male"> Transgender Male-to-Female<br>
      <input type="radio" name="gender" value="male"> Transgender Male-to-Female<br>
      <div class="form-btn">
        <a herf="#">Previous</a>
        <a [routerLink]="['/search-results']">Next</a>
      </div>
    </form>
  </div>
</div>
