/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
  height: 100%;
  background: #f5f2f0;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.content-center {
  text-align: center;
  justify-content: center;
}

.content-spread {
  justify-content: space-between;
}

a:hover {
  text-decoration: none;
}