.navbar-light {
  background: #478cca !important;
  position: relative;
  #logo {
    width: 180px;

  }

  .navbar-collapse {
    position: absolute;
    right: 0;
    height: 100%;

    ul {
      height: 100%;
      position: absolute;
      right: 0;
      display: flex;
      justify-content: space-between;
      width: 350px;
      margin-right: 20px;

      li {
        height: 100%;
        flex: 1;
        text-align: center;

        a {
          padding: 20% 0;
          font-size: 25px;
          color: white;
          font-family: 'Source Sans Pro', sans-serif;
          font-weight: 300;
        }
      }

      li.active {
        background: #6AA1D3;
        height: 100%;
      }
    }
  }

  

  
  
}

